.dashboardMain{
    background-color: $backgroundLight;
    width: 100vw;
    height: 100vh;
}

.dashBoard__profileContainer{
    background-color: $backgroundDark;
    width: 100%;
    height: 50%;
}