.notFoundContainer{
    margin-top: 5rem;
    width: 100%;
    height: 70vh;
    background-color: $backgroundDark;
    text-align: center;
    padding: 10%;

    color: $backgroundLight;
}


.notFoundContent{
    font-size: 2rem;
    &--title{
        font-size: 8rem;
    }
}
