@use '../abstracts/globalVariables' as variables;
@use '../abstracts/typography' as typography;

.card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.character-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
    background-color: variables.$backgroundLight;
    height: auto;
    // border: 2px solid variables.$textDark;
    border-radius: .5rem;
    margin: .5rem 2rem .5rem 2rem;
    color: variables.$textDark;
    *{
        padding: 0 2%;
        width: 30%;
    }
}

.card-link {
    text-decoration: none;
}


