@use '../abstracts/globalVariables' as variables;
@use '../abstracts/typography' as typography;

.pageWrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer-grow {
    flex-grow: 1;
}

.footer {
    background-color: variables.$darkContrast;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    margin: 2rem 0 0 0;
}

.copyright {
    @include typography.sans(14pt, variables.$textLight);
    margin-right: 2rem;
}