@use '../abstracts/globalVariables' as variables;
@use '../abstracts/typography' as typography;
@use '../abstracts/mixins' as mixins;

.landingContainer {
display: grid;
//padding-top: 5rem;
}
.character {
    background-color: variables.$backgroundDark;
    padding: 10px;
    flex-grow: 1;
    z-index: 5;
    &__container1 {
        width: 100%;
        display: grid;
        grid-template-columns: auto 460px 119px 5px 300px 50px auto;
        grid-template-rows: 490px auto;
        padding-bottom: 20px;
        .container1__container {
            grid-column: 2/ 4;
            grid-row: 1/span 2;
            background-color: variables.$backgroundLight;
            margin: 20px 20px 0px 20px;
            padding: 30px;
            max-width: 800px;
            .container__header {
                @include typography.serif(20pt, variables.$backgroundDark, 700);
                padding-bottom: 20px;
            }
            .container__text {
                @include typography.sans(16pt, variables.$backgroundDark, 500);
                padding: 0px 40px 0px 40px;
            }
        }
        .fa-d-and-d {
            grid-column: 3/ 4;
            grid-row: 1/span 1;
            color: variables.$mainThemeDark;
            z-index: 10;
            font-size: 540px;
            transform: rotate(-20deg) translateY(-20px) translateX(2px);
        }
        .container1__buttonContainer {
            grid-column: 4/span 2;
            grid-row: 2/ span 1;
            z-index: 20;
            .button {
                @include mixins.button(variables.$backgroundLight, variables.$mainTheme);
            }
        }
    }
}

.login {
    flex-grow: 1;
    .login__container {
        display: grid;
        grid-template-columns: auto 350px 600px auto;
        grid-template-rows: 490px auto;
        .filler1 {
            background-color: variables.$mainTheme;
            grid-column: 1/ span 1;
            z-index: 1;
        }
        .container__container1 {
            padding-top: 5rem;
            grid-column: 2/ span 1;
            position: relative;
            background-color: variables.$mainTheme;
            z-index: 1;
            .fa-dice-d20 {
                position: absolute;
                background: rgb(144,169,162);
                background: linear-gradient(0deg, rgba(144,169,162,0.5) 0%, rgba(108,130,126,.9) 53%, rgba(32,46,50,1) 100%);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color:transparent;
                font-size: 550px;
                transform: rotate(-20deg) translateY(-140px) translateX(-80px);
                z-index: -1;
            }
            .container1__signin {
                position: absolute;
                width: 300px;
                height: 150px;
                background-color: variables.$accentImportant;
                margin-top: 20px;
                border-radius: 7px;
                box-shadow: 0 0 30px black;
                text-align: center;
                margin-top: 70px;
                .signin__google {
                    background-size: 200% 100%;
                    background-image: linear-gradient(to right, variables.$backgroundLight 50%, variables.$backgroundDark 50%);
                    transition: background-position .25s;
                    width: 200px;
                    margin: 0 auto;
                    transform: translateY(130%);
                    display: grid;
                    grid-template-columns: auto 5px auto;
                    border-radius: 7px;
                    position: relative;
                    color: variables.$backgroundDark;
                    //transition: 0.3s;
                    margin-top: 17px;
                    &:hover {
                        background-position: -100% 0;
                    }
                    &:hover .google__text{
                        color: variables.$backgroundLight;
                    }
                    .google__image {
                        background-color: variables.$backgroundLight;
                        border-radius: 7px 0 0 7px;
                        padding: 5px;
                        .fa-google {
                            font-size: 15pt;
                        }
                    }
                    .gridColor {
                        border-left: 2px solid variables.$backgroundDark;
                        height: 31px;
                    }
                    .google__text {
                        padding: 0 10px 0 5px;
                        text-decoration: none;
                        margin-top: 4px;
                        @include typography.sans(12pt, variables.$backgroundDark, 500);
                    }
                }
            }
        }
        .container__container2 {
            padding-top: 5rem;
            grid-column: 3/ span 1;
            background-color: variables.$accentBasic;
            z-index: 3;
            .container2__textContainer {
                margin: 20px 20px 0px 20px;
                padding: 30px;
                max-width: 800px;
                background-color: variables.$backgroundDark;
                .textContainer__header {
                    @include typography.serif(20pt, variables.$backgroundLight, 700);
                    padding-bottom: 20px;
                }
                .textContainer__text {
                    @include typography.sans(16pt, variables.$backgroundLight, 500);
                    padding: 0px 40px 0px 40px;
                }
            }
        }
        .filler2{
            background-color: variables.$accentBasic;
            grid-column: 4/ span 1;
        }
    }
}
.about {
    background-color: variables.$backgroundDark;
    padding: 10px;
    flex-grow: 1;
    z-index: 5;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: auto 600px 350px auto;
    padding-bottom: 110px;
    .about__container {
        background-color: variables.$backgroundLight;
        margin: 20px 20px 0px 20px;
        padding: 30px;
        max-width: 800px;
        grid-column: 2/ span 1;
        .container__header {
            @include typography.serif(20pt, variables.$backgroundDark, 700);
            padding-bottom: 20px;
        }
        .container__text {
            @include typography.sans(16pt, variables.$backgroundDark, 500);
            padding: 0px 40px 20px 40px;
        }
    }
    &__imageContainer {
        .fa-dice {
            color: variables.$accentImportant;
            font-size: 200px;
        }
        .fa-dice-four {
            color: variables.$accentImportant;
            font-size: 150px;
            transform: translateY(-30px) translateX(20px) rotate(20deg);
        }
    }
}

@media only screen and (max-width: 800px) {
    .character__container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .container1__container {
            margin-bottom: 20px;
        }
        .fa-d-and-d {
            visibility: hidden;
            font-size: 1px;
        }
    }

    .login {
        .login__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .filler1 {
                display: none;
            }
            .container__container1 {
                height: 200px;
                display: flex;
                padding: 0px;
                justify-content: center;
                .fa-dice-d20 {
                    font-size: 1px;
                    visibility: hidden;
                }
                .container1__signin {
                    margin: 20px;
                }
            }
            .filler2{
                display: none;
            }
            .container__container2 {
                .container2__textContainer {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .about {
        display: flex;
        flex-wrap: wrap;
        .about__container {
        }
        &__imageContainer {
            .fa-dice {
                font-size: 1px;
                visibility: hidden;
            }
            .fa-dice-four {
                font-size: 1px;
                visibility: hidden;
            }
        }
    }
}
